[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia AnimationDarkrai.h
Type=Link
URL=https://cdn.discordapp.com/attachments/688724598077915189/693868058556760214/AnimationDarkrai.h
Icon=text-x-chdr
