[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Darkrai.cpp
Type=Link
URL=https://cdn.discordapp.com/attachments/688724598077915189/693868062159536158/Darkrai.cpp
Icon=text-x-c++src
